<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinnet.dao.IdentifyingCodeMapper">
  <resultMap id="BaseResultMap" type="com.xinnet.entity.IdentifyingCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="effective" jdbcType="VARCHAR" property="effective" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mode, email, code, creat_time, effective
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_identifying_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_identifying_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xinnet.entity.IdentifyingCode">
    insert into t_identifying_code (id, mode, email, 
      code, creat_time, effective
      )
    values (#{id,jdbcType=INTEGER}, #{mode,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{effective,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xinnet.entity.IdentifyingCode">
    insert into t_identifying_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="effective != null">
        effective,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effective != null">
        #{effective,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinnet.entity.IdentifyingCode">
    update t_identifying_code
    <set>
      <if test="mode != null">
        mode = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effective != null">
        effective = #{effective,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinnet.entity.IdentifyingCode">
    update t_identifying_code
    set mode = #{mode,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      effective = #{effective,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.xinnet.entity.IdentifyingCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mode, email, code, creat_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_identifying_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_identifying_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xinnet.entity.IdentifyingCode">
    insert into t_identifying_code (id, mode, email, 
      code, creat_time)
    values (#{id,jdbcType=INTEGER}, #{mode,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xinnet.entity.IdentifyingCode">
    insert into t_identifying_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinnet.entity.IdentifyingCode">
    update t_identifying_code
    <set>
      <if test="mode != null">
        mode = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinnet.entity.IdentifyingCode">
    update t_identifying_code
    set mode = #{mode,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>