@charset "utf-8";
/*
清除样式（重置CSS 定位 清除浮动 长度高度 边距）
*/
/*CSS重置*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td ,table, a , span, i, em, label , img{ margin: 0; padding: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {  display: block;}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
address, button, caption, em, input, optgroup, option, select, strong, textarea, th {  font: inherit;}
button, input, optgroup, option, select, textarea { outline: medium none; font-size:100%;  vertical-align:middle;}
abbr, acronym { border: 0 none; font-variant: normal;}
sup { vertical-align: baseline;}
sub { vertical-align: baseline;}
legend { color: #000;}
table { border-collapse: collapse;  border-spacing: 0;}
i,b,em{ font-style: normal; font-weight: normal;}
fieldset, img , input { border: 0 none;}
img{  vertical-align:middle;  -ms-interpolation-mode:bicubic;}
li { list-style: outside none none;}
caption, th { text-align: left;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
form{ display:inline;}
textarea{ resize:none;}
input[type="text"], input[type="tel"] { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* 去除iphone ipad 设备默认按钮样式 */
button,input[type="button"], input[type="reset"], input[type="submit"],input[type="date"],input[type="text"] { cursor:pointer; -webkit-appearance:button; -moz-appearance:button;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0;}
input::-moz-placeholder, textarea::-moz-placeholder { color: #a2a2a2; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #a2a2a2; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #a2a2a2; }
input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder { color:transparent;}
button::-moz-focus-inner, input::-moz-focus-inner { padding:0; border:0}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    line-height: 0;
    height: 0;
    overflow: hidden;
}
.clearfix { zoom:1;}
.ellipsis {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}
.break {
    word-break:break-all;
    word-wrap:break-word;
}
.fb {
    font-weight: bold;
}
.fn {
    font-weight: normal;
}
.unl {
    text-decoration: underline;
}
.no-unl {
    text-decoration: none;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.fl {
    display: inline;
    float: left;
}
.fr {
    display: inline;
    float: right;
}
.red{
    color: #ff423a;
}
/*------基础部分------*/
html {
    color: #a2a2a2;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
    min-width: 320px;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    -moz-user-select: none;
    font-size: 16px;
    line-height: 24px;
    background: #fdf7d5;
    color: #505050;
    position: relative;
    background: #fdeaca;
}
header, section {
    width: 100%;
}
.repeatImg {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.pr img{
    z-index: 1;
}
.btnBuy{
    z-index: 2;
    display: block;
    text-indent: -999em;
    overflow: hidden;
    width: 60%;
    height: 30%;
    right: 20%;
    bottom: 12%;
}
.ruleTab{
    width: 88%;
    padding: 2%;
    margin: 0 auto 1rem;
    border: .16rem solid #000;
    border-radius: .4rem;
    background: #fff7ec;
    overflow: hidden;
}
.ruleTab .tab-nav{
    border-bottom: .16rem solid #000;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    padding-bottom: .3rem;
}
.ruleTab .tab-nav li{
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
}
.ruleTab .tab-nav li.on{
    color: #ff0000;
}
.ruleTab .tab-nav li.on .icon-arrow{
    width: 0px;
    height: 0px;
    border: .4rem solid transparent;
    font-style: normal;
    display: none;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    right: 47%;
    bottom: -.3rem;
}
.ruleTab .tab-nav li.on .arrow-up{
    border-bottom: .4rem solid #000;
    display: inline-block;
    padding-bottom: 1rem;
}
.activityRule,.about-con {
    padding: .9rem 4%;
    width: 92%;
    color: #512109;
    font-size: .95rem;
    line-height: 1.6rem;
}
.activityRule h2 {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 12px;
}
.activityRule .activityDate{
    font-size: .96rem;
}
.activityRule li{
    padding-left: 25px;
    text-align:justify;
}
.activityRule li span{
    float:left;
    margin-left: -25px;
}
.activityRule li.fb {
    padding-left: 0;
}
.activityRule li a {
    color: #512109;
    text-decoration: none;
}
.indent{
    text-indent: 2em;
}
.about-con img{
    margin-top: 1rem;
}
.h-1{
    height: 1rem;
}