<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						   http://www.springframework.org/schema/beans/spring-beans-2.0.xsd   
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- Schedule 定义 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="doTimeForQueryStockTask"/>    <!--  -->
			</list>
		</property>
		<!-- <property name="schedulerListeners">
			<list>
				<ref bean="taskTriggerListener" />
			</list>
		</property>
		<property name="globalTriggerListeners">
			<list>
				<ref bean="taskTriggerListener" />
			</list>
		</property> -->
	</bean>
	
	<!-- 定时任务日志 开始 -->
	<!-- <bean id="taskTriggerListener" class="com.winchannel.crm.weather.task.TaskTriggerListener">
		<property name="taskInfoManager" ref="taskInfoManager"></property>
	</bean> -->
	
	 <!-- 周期发送优惠卷-->
	<bean id="doTimeForQueryStockTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="jobTaskForQueryStockTask" />
		</property>
		<property name="cronExpression">
		     <value>0/5 * 9-11,13-14 ? * MON-FRI</value>
		</property>
	</bean> 
	 <bean id="jobTaskForQueryStockTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="queryStockServiceImpl" />
		</property>
		<property name="targetMethod">
			<value>queryStock</value>
		</property>
	</bean>
	
	<!-- 要调用的工作类 -->
    <bean id="queryStockServiceImpl" class="com.xinnet.task.service.impl.QueryStockServiceImpl"></bean>
    
</beans>
