<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.yeepay.g3.boss" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven/>

    <mvc:interceptors >
        <bean class="com.yeepay.g3.app.frame.interceptor.springmvc.ParametersInterceptor"/>
        <bean class="com.yeepay.g3.app.frame.interceptor.springmvc.SSOInterceptor"/>
        <bean class="com.yeepay.g3.app.frame.interceptor.springmvc.MenuInterceptor"/>
        <!-- 权限 -->
       	<bean class="com.yeepay.g3.app.frame.interceptor.springmvc.AuthorityInterceptor"/>
        <bean class="com.yeepay.g3.app.frame.interceptor.springmvc.AuditInterceptor"/>
        <bean class="com.yeepay.g3.app.frame.interceptor.springmvc.OperationLogInterceptor"/>
        <bean class="com.yeepay.g3.utils.ajaxquery.interceptor.DataTablesHandlerInterceptor"/>
    </mvc:interceptors>
	
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 支持上传文件 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <!--返回字符串格式json-->
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

<!--     <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
<!--         <property name="exceptionMappings"> -->
<!--             <props> -->
<!--                 <prop key="java.lang.Throwable">redirect:/common/error_exception</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--     </bean> -->

</beans>
